name: ci.yml
on:
  push:
      branches: [main]
  pull_request:
    branches: [main]
jobs:
  Build-And-Run-Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven
      - name: Build with Maven
        run: mvn install -DskipTests
      - name: Run Tests with Maven
        run: mvn test
